body {
  color: #67c50a;
  background-color: #171717;
  text-align: center;
}
div span {
  font-weight: 800;
}
.container {
  display: flex;
  justify-content: space-around;
}
.buttons {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 250px;
  height: 400px;
  gap: 25px;
  align-items: center;
  padding-top: 20px;
}

.wrapper-range {
  position: relative;
  left: -15px;
  margin-left: 32px;
}

input[type="range"] {
  width: 220px;
  appearance: none;
  background-color: #171717;
  outline: #67c50a solid 1px;
  border-radius: 30px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #67c50a;
}

input[type="color"] {
  outline: none;
  border: none;
  margin-left: 10px;
}

input[type="color"] {
  background-color: #333;
  width: 80px;
  height: 50px;
}

.button {
  text-align: center;
  padding: 10px 40px;
  max-height: 15px;
  max-width: 140px;
  min-width: 140px;
  background-color: #171717;
  cursor: pointer;
  outline: #67c50a solid 1px;
  font-weight: 500;
}

.button:hover {
  transform: scale(1.05);
}

#grid {
  display: grid;
  width: 400px;
  height: 400px;
  background-color: #fffff5;
  border: #333 solid 10px;
}

#pixelCount {
  font-size: 18px;
}

.container-color {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}
.container-color span {
  align-self: center;
}

.pixel {
  background-color: #fff;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.on {
  background-color: #67c50a !important;
  color: #333 !important;
}
